.page-header {
    font-weight: 100;
    font-size: 3em;
}

.full-height {
    height: 100vh;
}

.no-results {
    color: pink;
    font-weight: 900;
    font-size: 2em;
}

.reset-search {
    padding: 1% 3%;
    border-radius: 0;
    width: 20%;
}

.JobBlock {
    background-color: #eee;
    border-radius: 40px;
    padding: 0;
    margin: 2% auto;
    width: 80%;
    text-align: left;
    padding: 2% 5%;
}

.JobBlock:hover {
    scale: 1.05;
    box-shadow: 2px 2px 5px 1px rgb(255,
            192,
            203);
    transition: 1s;
}


button {
    border: none;
    background-color: pink;
    color: #222;
    font-weight: 900;
    padding: 1%;
    border-radius: 60px;
    width: 10%;

}

button.disabled {
    background-color: #ccc;
    color: #222;
}