nav {
    background-color: #222;
    padding: 2%;
}

nav a {
    padding: 0 1%;
    text-decoration: none;
    font-weight: 900;
    color: pink;
}

nav a:visited {
    color: pink;
}

nav a.active {
    padding-bottom: 1%;
    color: deepskyblue;
}

nav a.dontShowActive {
    color: pink;
    border: none;
}

nav a:hover {
    color: deepskyblue;
}

nav a.site-name {
    margin-right: 50%;
}