.search {
    box-sizing: border-box;
}

.form-container {
    margin: 2% auto;
    width: 80%;
    padding: 0 0 0 10%;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #222;
    float: left;
    width: 75%;
    background: #eee;
}

form.search button {
    margin: 0;
    float: left;
    width: 15%;
    padding: 10px;
    background: pink;
    color: #222;
    font-size: 17px;
    border: 1px solid #222;
    border-left: none;
    cursor: pointer;
    border-radius: 0;
}

form.search button:hover {
    background: deepskyblue;
    color: white;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}